h1 {
    font-family: Verdana !important;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h2 {
    color: aquamarine;
    font-size: 16px;
}

a {
    color: aquamarine;
    font-size: 16px;
    font-family: Verdana;
    font-weight: normal;
}

h3 {
    font-size: 42px;
    font-family: Verdana;
    font-weight: 300;
    color: white;
}

p {
    font-size: 21px;
    font-family: Verdana;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}